CausalInferenceNFL_09_25.aux
CausalInferenceNFL_09_25.fdb_latexmk
CausalInferenceNFL_09_25.fls
CausalInferenceNFL_09_25.log
CausalInferenceNFL_09_25.nav
CausalInferenceNFL_09_25.out
CausalInferenceNFL_09_25.pdf
CausalInferenceNFL_09_25.snm
CausalInferenceNFL_09_25.synctex.gz
CausalInferenceNFL_09_25.toc
auto/